Cython
imgaug>=0.3.0
Keras==2.3.1
tensorboard==1.15.0
tensorflow==1.15.2
h5py==2.10.0
opencv-contrib-python==4.4.0.42
opencv-python==4.4.0.42
matplotlib
pandas
Pillow
numpy==1.17.0
requests
pycocotools
skimage
imageio
scipy
